
# VSCode settings
/.vscode/

# _ Build scripts and artifacts (https://github.com/ChrisJMurdoch/_)
/_.bat
/_/
/__/

# Higher-resolution textures
/resources/models/*/textures/4k/
/resources/models/*/textures/8k/

# Generated textures
/resources/models/*/generated/
