
# VSCode settings
/.vscode/

# _ Build script and artefacts
/_.bat
/_/

# Higher-resolution textures
/resources/models/*/textures/4k/
/resources/models/*/textures/8k/

# Generated textures
/resources/models/*/generated/
